<template>
  <div id="berita" class="hello">
    <section class="section">
      <div class="container">
        <h2 class="title has-text-centered">BERITA TERBARU</h2>
        <div class="columns is-multiline">
          <div v-for="d in data" :key="d.id" class="column is-6-tablet is-3-desktop">
            <div class="card" style="height: 100%">
              <div class="card-image">
                <a href="#">
                  <img :src="d.gambar_path" class="minG" alt />
                </a>
              </div>
              <div class="card-content">
                <div class="block">
                  <small class="is-size-7">{{ d.created_ad | myDate }} | wajahbaru.id</small>
                </div>
                <h5 class="title is-6">
                  <a :href="'/news/' + d.id">{{ d.judul}}</a>
                </h5>
                <p>{{ d.excerpt }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons is-centered">
          <!-- <a class="button is-primary is-large" href="#">Lebih Lanjut</a> -->
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Berita",
  data() {
    return {
      data: {}
    };
  },
  props: {
    msg: String
  },
  methods: {
    setData() {
      axios
        .get("/api/berita/")
        .then(({ data }) => {
          this.data = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>

<style scoped>
.minG {
  height: 250px;
  width: 100%;
}
.is-primary {
  background-color: #292929eb !important;
  color: antiquewhite !important;
}
a {
  color: #292929eb !important;
}
</style>