<template>
  <footer class="footer">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="buttons">
            <a class="kiri" :href="data.email">
              <img src="../../../public/assets/svg/email.svg" alt />
            </a>
            <a class="kiri" :href="data.facebook">
              <img src="../../../public/assets/svg/facebook.svg" alt />
            </a>
            <a class="kiri" :href="data.instagram">
              <img src="../../../public/assets/svg/instagram.svg" alt />
            </a>
            <a class="kiri" :href="data.youtube">
              <img src="../../../public/assets/svg/youtube.svg" alt />
            </a>
          </div>
        </div>
        <div class="column has-text-centered has-text-right-tablet">
          <img src="../../../public/assets/svg/logo.svg" alt />
        </div>
        <div class="column has-text-centered has-text-right-tablet">
          <img src="../../../public/assets/svg/2019.svg" alt />
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer",
  props: {
    msg: String
  },
  data() {
    return {
      data: {}
    };
  },
  methods: {
    setData() {
      axios
        .get("/api/web-setting/")
        .then(({ data }) => {
          this.data = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>

<style scoped>
.kiri {
  margin-left: 30px;
}
</style>