<template>
  <div>
    <Navbar></Navbar>
    <Head></Head>
    <router-view></router-view>
    <Sesi></Sesi>
    <Tagline></Tagline>
    <Visi></Visi>
    <Berita></Berita>
    <!-- <Testimoni></Testimoni> -->
    <Relawan></Relawan>
    <Video></Video>
    <Footer></Footer>
  </div>
</template>

<script>
import Head from "./Head";
import Sesi from "./Profil";
import Berita from "./Berita";
import Visi from "./Misi";
import Footer from "./Footer";
import Relawan from "./Relawan";
import Tagline from "./Tagline";
import Video from "./Video";
import Testimoni from "./Testimoni";

export default {
  name: "app",
  data() {
    return {
      set: {}
    };
  },
  components: {
    Head,
    Sesi,
    Berita,
    Visi,
    Relawan,
    Footer,
    Video,
    Testimoni,
    Tagline
  },
  methods: {
    setData() {
      axios
        .get("/api/web-setting/")
        .then(({ data }) => {
          this.set = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>