<template>
  <div>
    <Head></Head>
    <section style="margin-bottom:30px; margin-top:50px">
      <div class="container">
        <h2 class="title has-text-centered">{{ data.judul }}</h2>
        <div class="columns">
          <div class="column is-4">
            <figure class="image">
              <img :src="data.gambar_path" alt />
            </figure>
          </div>
          <div class="column is-8">
            <p v-html="data.konten"></p>
          </div>
        </div>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
import Head from "./Head";
import Footer from "./Footer";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  components: {
    Head,
    Footer
  },
  data() {
    return {
      data: {}
    };
  },
  methods: {
    setData() {
      axios.get("/api/berita/" + window.data).then(({ data }) => {
        this.data = data;
      });
    }
  },
  created() {
    this.setData();
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
