<template>
  <div class="visi">
    <Head></Head>
    <section class="section">
      <div class="container">
        <h2 class="title has-text-centered">Visi & Misi</h2>
        <div class="columns">
          <div class="column is-1">
            <figure class="image is-120x120">
              <img class src="../../../public/assets/1.svg" alt />
            </figure>
          </div>
          <div class="column is-11">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Mendorong kemandiran sumber daya manusia Bulukumba </p>
                  <ul>
					<li>Menciptakan budaya entrepreneurship di kalangan generasi muda.</li>
					<li>Mewujudkan masyarakat pariwisata.</li>
					<li>Mendorong terapan spiritualisme dalam semua aspek hidup masyarakat.</li>
					<li>Melestarikan terapan nilai-nilai budaya dan kearifan lokal.</li>
					<li>Membangun budaya kreatif dan etos kerja yang tinggi.</li>
					<li>Mendorong budaya literasi.</li>
					<li>Meningkatkan kompetensi angkatan kerja.</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4"></div>
          <div class="column is-1">
            <figure class="image is-120x120">
              <img src="../../../public/assets/2.svg" alt />
            </figure>
          </div>
          <div class="column is-7">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Memacu pertumbuhan ekonomi yang berbasis pada potensi lokal</p>
                  <ul>
					<li>Menumbuhkan daya saing pertanian, peternakan, perkebunan, perikanan dan kelautan.</li>
					<li>Menumbuhkan dan memberdayakan UKM, Koperasi dan Ekonomi Kreatif.</li>
					<li>Memacu pertumbuhan Ekonomi Pariwisata yang edukatif dan terintegrasi.</li>
					<li>Mendorong Investasi dan membuka pintu implementasi KPBU yang memacu pertumbuhan ekonomi daerah dan terciptanya lapangan kerja.</li>
					<li>Pembangunan infrastruktur yang menjangkau masyarakat desa terpencil dan memudahkan akses pemasaran komoditi.</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-1">
            <figure class="image is-120x120">
              <img src="../../../public/assets/3.svg" alt />
            </figure>
          </div>
          <div class="column is-11">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Menyediakan pelayanan pendidikan dan kesehatan yang bermutu dan terjangkau</p>
                  <ul>
					<li>Peningkatan layanan dan kualitas pendidikan.</li>
                    <li>Peningkatan kesadaran preventif dan mutu layanan kesehatan.</li>
                    <li>Mendorong pertumbuhan upaya-upaya pendidikan alternatif.</li>
                    <li>Penyediaan Sumber Air Bersih bagi masyarakat pesisir dan kepulauan.</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4"></div>
          <div class="column is-1">
            <figure class="image is-120x120">
              <img src="../../../public/assets/4.svg" alt />
            </figure>
          </div>
          <div class="column is-7">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Mengembangkan sistem pelayanan masyarakat yang berkeadilan</p>
                  <ul>
					<li>Mewujudkan tata kelola pemerintahan yang efektif dan efisien.</li>
                    <li>Pengelolaan APBD yang transparan dan tepat sasaran.</li>
                    <li>Menyediakan fasilitas sosial dan fasilitas umum yang layak.</li>
                    <li>Meningkatkan layanan kependudukan yang efektif dan efisien.</li>
                    <li>Mengupayakan pengembangan sistem jaminan sosial.</li>
                    <li>Meningkatkan keterlibatan gender dalam penyusunan kebijakan pembangunan daerah</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-1">
            <figure class="image is-120x120">
              <img src="../../../public/assets/5.svg" alt />
            </figure>
          </div>
          <div class="column is-11">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Menjaga keselarasan pembangunan dengan kelesetarian lingkungan</p>
                  <ul>
					<li>Menyusun tata ruang daerah yang adaptif dan berkeadilan.</li>
                    <li>Memacu upaya pelestarian lingkungan hidup.</li>
                    <li>Mendorong pengelolaan lingkungan hidup yang patisipatif.</li>
                    <li>Menerapkan pembangunan rendah karbon.</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4"></div>
          <div class="column is-1">
            <figure class="image is-120x120">
              <img src="../../../public/assets/6.svg" alt />
            </figure>
          </div>
          <div class="column is-7">
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p class="subtitle">Mengembangkan politik yang akomodatif</p>
                  <ul>
					<li>Melindungi masyarakat, menjaga persatuan, kesatuan, kerukunan nasional dan turut serta menjaga keutuhan NKRI.</li>
					<li>Mengembangkan kehidupan berdemokrasi yang sehat dan partisipatif.</li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
    <Footer></Footer>
  </div>
</template>

<script>
import Head from "./Head";
import Footer from "./Footer";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  components: {
    Head,
    Footer
  }
};
</script>

<style scoped>
.image.is-120x120 {
  height: 180px;
  width: 120px;
}
</style>