<template>
  <section id="misi" class="section wajah is-medium">
    <div class="container has-text-centered">
      <div class="columns wajah2">
        <div class="column"></div>
        <div class="column">
          <article class="media" style="margin-bottom:10px;">
            <h1 class="title">Visi & Misi</h1>
          </article>

          <div class="card">
            <div class="card-content">
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <ol type="1">
                      <li>Mendorong Kemandiran Sumber Daya Manusia Bulukumba.</li>
                      <li>Memacu pertumbuhan ekonomi yang berbasis pada potensi lokal.</li>
                      <li>Menyediakan pelayanan pendidikan dan kesehatan yang bermutu dan terjangkau</li>
                      <li>Mengembangkan sistem pelayanan masyarakat yang berkeadilan</li>
                      <li>Menjaga keselarasan pembangunan dengan kelesetarian lingkungan</li>
                      <li>Mengembangkan politik yang akomodatif</li>
                    </ol>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <article class="media" style="margin-top:10px;">
            <div class="content">
              <a href="/visi" class="button">Selengkapnya</a>
            </div>
          </article>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Profil",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wajah {
  background: url("../../../public/assets/Group 44.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left top;
}
.wajah2 {
  background: url("../../../public/assets/svg/swing.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
</style>
