<template>
  <b-navbar>
    <template slot="brand">
      <b-navbar-item href="/">
        <img src="../../../public/assets/svg/logo.svg" />
      </b-navbar-item>
    </template>
    <template slot="end">
      <b-navbar-item href="/#profil">Profil</b-navbar-item>
      <b-navbar-item href="/#misi">Visi & Misi</b-navbar-item>
      <b-navbar-item href="/#berita">Berita</b-navbar-item>
      <b-navbar-item href="/#testi">Testimoni</b-navbar-item>
      <b-navbar-item href="/#video">Video</b-navbar-item>
    </template>
  </b-navbar>
</template>

<script>
export default {
  name: "Navbar",
  props: {}
};
</script>