<template>
  <section id="profil" class="section">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-4">
          <figure class="image">
            <img src="../../../public/assets/Group 42.png" alt />
          </figure>
        </div>
        <div class="column is-8">
          <article class="media">
            <div class="media-content">
              <h1 class="title">PROFIL</h1>
              <div class="content">
                <p>Pasangan H. Andi Muhammad Ali Yusuf dan Hj. Andi Dalima Makkarodda membangun perekonomian keluarga dari bawah. Ketekunan kerja yang didukung semangat juang dalam kesederhanaan menurun ke anak-anaknya, tak terkecuali Andi Uchu. Sejak kecil Andi Uchu tidak hanya dituntut tekun dan disiplin belajar untuk meraih prestasi akademik semata, tapi juga mengimbanginya dengan tugas di rumah.</p>
              </div>
              <div class="content">
                <span>
                  <i class="fas fa-heart">&nbsp;Pengalaman Organisasi</i>
                </span>
                <span>
                  <i class="fas fa-heart">&nbsp;Karir Dan Bisnis</i>
                </span>
              </div>
              <div class="content">
                <!-- <a href="/profil" class="button">Selengkapnya</a> -->
              </div>
            </div>
          </article>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Profil"
};
</script>