<template>
  <div id="app">
    <Head></Head>
    <Tentang style="margin-top:70px"></Tentang>
    <Footer></Footer>
  </div>
</template>

<script>
import Head from "./Head";
import Tentang from "./Tentang";
import Visi from "./Misi";
import Footer from "./Footer";

export default {
  name: "app",
  components: {
    Head,
    Visi,
    Footer,
    Tentang
  }
};
</script>