<template>
  <div id="testi">
    <section class="section">
      <img src="../../../public/assets/svg/testimoni.svg" alt />
    </section>
    <section class="section">
      <div class="container has-text-centered">
        <div class="columns">
          <div v-for="d in data" :key="d.id" class="column">
            <div class="level">
              <div class="level-item">
                <figure class="image is-128x128">
                  <img class="is-rounded" :src="d.gambar_path" alt />
                </figure>
              </div>
            </div>
            <p class="block">{{d.testimoni}}</p>
            <h5 class="title is-5">{{d.nama}}</h5>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Relawan",
  data() {
    return {
      data: {}
    };
  },
  props: {
    msg: String
  },
  methods: {
    setData() {
      axios
        .get("/api/testimoni/")
        .then(({ data }) => {
          this.data = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>