<template>
  <div class="container mt-3">
    <div class="tile is-ancestor">
      <h1 class="title">PROFIL SINGKAT</h1>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Satu</p>
          <p>{{data.title_depan}}</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Dua</p>
          <p>{{data.title_belakang}}</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Tiga</p>
          <p>{{data.line_link}}</p>
        </div>
      </div>
    </div>
    <h1 class="title">PENGALAMAN ORGANISASI</h1>
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Tiga</p>
          <p>{{ data.nama_depan}}</p>
        </div>
      </div>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Satu</p>
          <p>{{ data.fb_link }}</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Dua</p>
          <p>{{ data.nama_belakang }}</p>
        </div>
      </div>
    </div>
    <div class="tile is-ancestor">
      <h1 class="title">KARIR DAN BISNIS</h1>
      <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
          <p class="title">Satu</p>
          <p>{{data.instagram_link}}</p>
        </div>
        <div class="tile is-child box">
          <p class="title">Dua</p>
          <p>{{data.twitter_link}}</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Tiga</p>
          <p>{{data.youtube_link}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Sesi",
  props: {
    msg: String
  },
  data() {
    return {
      data: {}
    };
  },
  methods: {
    setData() {
      axios
        .get("/api/profile/")
        .then(({ data }) => {
          this.data = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>

<style scoped>
.mt-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
</style>