<template>
  <div id="video">
    <section>
      <img src="../../../public/assets/svg/Video.svg" alt />
    </section>
    <div class="container">
      <section class="hero is-medium video">
        <div class="hero-body">
          <div class="container">
            <div class="columns">
              <div class="column" v-html="data.deskripsi_video"></div>
              <div class="column">
                <figure class="image is-16by9">
                  <iframe
                    class="has-ratio"
                    width="640"
                    height="360"
                    :src="data.video"
                    frameborder="0"
                    allowfullscreen
                  ></iframe>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: "Video",
  props: {
    msg: String
  },
  data() {
    return {
      data: {}
    };
  },
  methods: {
    setData() {
      axios
        .get("/api/web-setting/")
        .then(({ data }) => {
          this.data = data;
        })
        .cath(e => {
          console.log(e);
        });
    }
  },
  created() {
    this.setData();
  }
};
</script>